:akar {
--tombol-bg: rgba(0, 0, 0, .3);
--tombol-teks: #fff;
--tombol-bingkai: #fff;
--bingkai: 8 piksel;
--bingkai-kiri: 1,3px solid var(--tombol-bingkai);
--bingkai-kanan: 1.3px solid var(--tombol-bingkai);
--gaya-font: 'Shippori Antik', sans-serif;
--gaya-font2: 'Naskah Menari', sans-serif;
}
@keyframes fanim {0% {posisi latar belakang: 0% 0%;}25% {posisi latar belakang: 100% 100%;} 50% {posisi latar belakang: 0% 100%;} 75% {posisi latar belakang: 50% 50%;} 100% {posisi latar belakang: 0% 0%;}}
body{background-color:#000;font-family:var(--gaya-font);padding: 20px 25px;-webkit-user-select: none; -ms-pilih-pengguna: tidak ada; pilih pengguna: tidak ada;} a{dekorasi teks: tidak ada;}
body::before{content:"\00A9 Davin | davsec";warna:putih;opasitas:.05;ukuran font:10px;posisi:tetap;bawah:25px;kanan:25px;z-index:2}
#bodyblur{opacity:0;position:fixed;top:0;left:0;right:0;bottom:0;background:rgba(0,0,0,.3);transition:semua 1 kemudahan;}
#wallpaper{width:100%;height:100%;transform: scale(2);transition:semua 1,3 detik dengan mudah;}
#beneranblur{position:fixed;top:0;left:0;right:0;bottom:0;background:rgba(0,0,0,.3);-webkit-backdrop-filter:blur(0px); backdrop-filter:blur(0px);transition:semua 3 detik dengan mudah;}

@keyframes jj{0% {transformasi: skala(1.1);} 50% {transformasi: skala(1.2);} 100% {transformasi: skala(1.1);}}
@keyframes rts{dari {transform:scale(.1);} ke {transform:scale(1);}}
@keyframes rto{dari {transform:scale(1);} ke {transform:scale(1.1);}}
@keyframes aniopa{0% {transformasi: skala(1);} 50% {transformasi: skala(.75);} 100% {transformasi: skala(1);}}
@keyframes rtf{dari {transformasi: putar(0deg);} ke {transformasi: putar(360deg);}} @keyframes rt{dari {transformasi: skala(.9);/* transformasi: putar(-5deg); */} ke {transformasi: skala(1);/* transformasi: putar(5 derajat); */}}
@keyframes kont{0% {kiri:-1px; atas:-3px;} 50% {kiri:1px; atas:3px;} 100% {kiri:-1px; atas:-3 piksel;}}

blockquote{position:absolute;opacity:0;visibility:hidden;margin-top:100px;background:var(--tombol-bg);border-radius:18px 0 18px 0;box-shadow: rgba(255.255.255, 0.3) 0px 7px 29px 0px;transformasi: skala(.1);transisi:semua 1 kemudahan;margin-top:120px;margin-kiri:0;margin-kanan:0;warna:var(--tombol-teks);teks- bayangan: 0px 2px 2px rgba(0, 0, 0, .8);}
blockquote{width:400px;text-align:center;line-height:1.3em;padding:20px;}
blockquote::before{content:attr(data-text);opacity:.7;font-family: sans-serif;position:absolute;left:8px;top:8px;min-width:15px;font-size:16px ;perataan teks:tengah}
blockquote::after{content: "";position: absolute;border: 1px solid #fff;border-radius:18px 0 18px 0;atas: -8px;bawah: -8px;kiri: -8px;kanan: -8px; }
blockquote p{font-size:16px;font-weight:700;line-height:1.4em;transition:all .5s ease;}
blockquote > .gaya2{ukuran font:15px;berat font:400}
blockquote > #pesan3{position: absolute;opacity:0;transform: scale(.1);transition:all .7s ease;}
blockquote > #pesan5, blockquote > #pesan8{margin-top:25px}
blockquote p:not(#opsL, #kalimat, #pesan3, .gaya2){display:none;}
blockquote > #opsL{text-align:right;font-size:11px;font-weight:400;line-height:0;margin-top:24px;color:white;opacity:0;transition:all .2s ease; }

#Tombol{position:relative;opacity:0;margin:0;display:flex;align-items:left;list-style:none;transform: scale(.1);transition:all 1s ease;}
#Tombol a{cursor:pointer;display:inline-flex;align-items:center; margin:0;margin:12px 0 12px 0;transition:all .2s ease;padding:10px;outline:0;border: 1px solid #fefefeba;border-radius:10px 0 10px 0;line-height:15px;background: rgba(0,0,0,.5);color:var(--tombol-teks);ukuran font:12px;berat font:700;spasi putih:nowrap;overflow:hidden;box-shadow: rgba (255.255.255, 0,3) 0px 7px 29px 0px;z-index:1}
#Bn{margin:12px 0 12px 12px !penting;}
#Bn2{posisi:mutlak;opasitas:0;lebar:0}

#Konten{nama-animasi: tidak ada;durasi-animasi: 3 detik;jumlah-iterasi-animasi: tak terbatas;posisi:relatif;opacity:0;margin-top:50px;width:100%;height:180px;transition:all . kemudahan 7 detik;}
#Konten > *{display:flex;align-items:center;text-align:center;justify-content:center;margin-top:1px;}
.kumpulanstiker > img{display:none;background: rgba(255, 255, 255, 0.2);box-shadow: 0 4px 30px rgba(255,255,255, 0.3);backdrop-filter: blur(5px);-webkit-backdrop- filter: blur(5px);batas: 1px solid rgba(255, 255, 255, 0.3);radius batas: 50%;padding:10px;lebar:100px;tinggi:100px;margin:20px 0;}
#fotostiker{opacity:.1;transition:all 1.2s ease;transform: scale(.1);}
.halo{ukuran font:18px !penting;posisi:relatif;margin:15px 0 20px 0}
.halo.gaya2{font-family:var(--gaya-font2);ukuran font:24px !important;margin-top:20px !important;}
.halo.sty3{posisi:mutlak !penting;ukuran font:14px !penting;berat font:400 !penting;margin:30px 20px !penting;}

#fotolove img{transition:all .5s ease;width:75px;height:75px;padding:0;background:none}
#kadoIn img{display:inline-flex;background:none;width:130px;height:130px;transition:all .3s ease;}
#ket, .halo{teks-bayangan: 0px 2px 2px rgba(0, 0, 0, .8);ukuran font:17px;berat font:700;warna:putih}
#ket{margin-top:25px !important;font-weight:400;}
#kadoIn img:hover{transform:scale(.9);}

#kolombaru{position:absolute;opacity:0;display:flex;transform:scale(.1);transition:all 1s ease;align-items:center;text-align:center;justify-content:center;z-index :1;}
#kolombaru > li{margin:8px;padding:0;tipe-gaya-daftar: tidak ada;}
#kolombaru li{opacity:.8;display:flex;font-size:30px}
#kolombaru li:hover{opacity:.5;transform: scale(1.15);transition:all .3s ease;}

.kolomrange{padding:0;background:none;position:relative;z-index:1;display:none;transition:all 1s ease;align-items:center;}
.kolomrange .inirange{width:100%;height:40px;margin-right:15px;display:flex;align-items:center;text-align:center;justify-content:center;}
.kolomrange .inirange input{height:10px;width:100%;-webkit-appearance:none;outline:none;background:#f2f2f2;border-radius:25px;box-shadow:inset 0px 0px 4px rgba(0,0 ,0,0.2);}
.kolomrange .inirange input::-webkit-slider-thumb{-webkit-appearance:none;appearance:none;width:20px;height:20px;border-radius:50%;border:3px solid #006FFF;background:white ;transisi:semua kemudahan .2;}
.kolomrange .inirange masukan::-webkit-slider-thumb:hover{border:5px solid #006FFF;}
.kolomrange .inivalue{color:white;font-size:20px}

.swal2-modal > *{ukuran font:16px;}
.swal2-title{line-height:1.3em;font-size:17px;text-align:center;padding:15px 30px 0 30px;}
.swal2-timer-progress-bar-container > *{opacity:.7;background:#00B6FF;margin:0 2px}
.swal2-modal{background:#EAEAEA;box-shadow: 0 4px 30px rgba(255.255.255, 0.3);backdrop-filter: blur(2px);-webkit-backdrop-filter: blur(2px);border: 1px solid rgba (255, 255, 255, 0,3);radius batas: 8px;lebar maksimal:330px;atas:-60px;}
.swal2-styled.swal2-confirm, .swal2-styled.swal2-cancel{position: relative;background-color: #4839eb;color: #fff;border-radius:18px;z-index: 1;transition: semua 0,2 S;}

.fa-snowflake {opacity:.3;color:white;font-size: 20px;position: absolute;animation: heartMove linear 1;top: -10vh;z-index: 0;}
@keyframes heartMove {0%{transform: TranslateY(-10vh) ;} 100%{transform: TranslateY(100vh) ;}}
.sembunyi, #pesanditolak > *, #kado2, #kado3{display:none !important}
